{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Магазин</h1>
    <p class="lead">Всё для вашего автомобиля!</p>
</div>
{% if user.is_authenticated %}
<div class="container">

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for object in object_list %}
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{object.name|title}}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">${{object.price}}</h1>
                        <img class="card-img-top" src="{{ product.image|mediapath }}">
                           {#   <img class="card-img-top" src="{% mediapath product.image %}" />#}
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{object.description|truncatechars:100}}</li>
                            <li>{{object.category}}</li>
                            <li>{{object.date_create}}</li>
                            <li>{{object.date_change}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}