{% extends 'catalog/base.html' %}
{% block content %}
{% load my_tags %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Каталог</h1>
</div>
{% if user.is_authenticated %}
<div class="container">
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить товар</a>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for object in object_list %}
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{object.name|title}}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">${{object.price}}</h1>
                        <img class="card-img-top" src="{{ product.image|mediapath }}">
                           {#   <img class="card-img-top" src="{% mediapath product.image %}" />#}
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>{{object.description|truncatechars:100}}</li>
                            <li>{{object.category}}</li>
                            <li>{{object.date_create}}</li>
                            <li>{{object.date_change}}</li>
                            <li>{{object.owner|default:"без регистрации"}}</li>
                            {% for version in object.version_set.all %}
                                {% if version.is_active %}
                                    <p class="card-text">Версия: {{ version.version_name }} </p>
                                    <p class="card-text">Номер версии: {{ version.version_number }} </p>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <a href="{% url 'catalog:detail_product' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Просмотр</a>
                        <a href="{% url 'catalog:update_product' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Изменить</a>
                        <a href="{% url 'catalog:delete_product' object.pk %}" type="button" class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}